graft src
graft tests

include .bumpversion.cfg
include .editorconfig
include requirements-dev.txt

include AUTHORS.md
include CHANGELOG.md
include CODE_OF_CONDUCT.md
include LICENSE
include README.md

global-exclude *.py[cod] __pycache__ *.so *.dylib
